<!-- app-options (Filter and search settings) -->
<div class="news-filter__container">
  <div>
    <label for="country">Country</label>
    <br>
    <select name="" id="country">
      <option value="all">all</option>
    </select>
  </div>
  <div>
    <label for="category">Category</label>
    <br>
    <select name="" id="category">
      <option value="all">all</option>
    </select>
  </div>
  <div>
    <label for="sources">Sources</label>
    <br>
    <select name="" id="sources">
      <option value="all">all</option>
    </select>
  </div>
  <div>
    <label for="language">Language</label>
    <br>
    <select name="" id="language">
      <option value="all">all</option>
    </select>
  </div>
</div>