
<div class="news-params__container">
  <!-- country -->
  <div *ngIf="params.hasOwnProperty('country')">
    <label for="country">Country</label>
    <br>
    <select name="country" id="country"
            [(ngModel)]="params.country"
            (change)="updateParam($event)">
      <option value="all">all</option>
      <option value="de">de</option>
    </select>
  </div>
  <!-- category -->
  <div *ngIf="params.hasOwnProperty('category')">
    <label for="category">Category</label>
    <br>
    <select name="category" id="category"
            [(ngModel)]="params.category"
            (change)="updateParam($event)">
      <option value="all">all</option>
      <option value="business">Business</option>
      <option value="entertainment">Entertainment</option>
      <option value="general">General</option>
      <option value="health">Health</option>
      <option value="science">Science</option>
      <option value="sports">Sports</option>
      <option value="technology">Technology</option>
    </select>
  </div>
  <!-- sources -->
  <div *ngIf="params.hasOwnProperty('sources')">
    <label for="sources">Sources</label>
    <br>
    <select name="sources" id="sources"
            [(ngModel)]="params.sources"
            (change)="updateParam($event)">
      <option value="all">all</option>
    </select>
  </div>

  <!-- (domains) -->
  <!-- (exclude domains) -->
  <!-- (from) -->
  <!-- (to) -->

  <!-- language -->
  <div *ngIf="params.hasOwnProperty('language')">
    <label for="language">Language</label>
    <br>
    <select name="language" id="language"
            [(ngModel)]="params.language"
            (change)="updateParam($event)">
      <option value="all">all</option>
    </select>
  </div>
  <!-- sortBy -->
  <div *ngIf="params.hasOwnProperty('sortBy')">
    <label for="sortBy">Sort by</label>
    <br>
    <select name="sortBy" id="sortBy"
            [(ngModel)]="params.sortBy"
            (change)="updateParam($event)">
      <option value="publishedAt" selected>Published at</option>
      <option value="relevancy">Relevancy</option>
      <option value="popularity">Popularity</option>
    </select>
  </div>
</div>