<div class="change-mode-container">
  <div *ngIf="mode">
      <ng-container [ngSwitch]="mode">
        <span *ngSwitchCase="'top-headlines'">Headlines</span>
        <span *ngSwitchCase="'everything'">Everything</span>
      </ng-container>
      <button (click)=onChangeMode()>switchB.</button>
  </div>
  
  <button (click)="showOptions=!showOptions">
    Options
    <span *ngIf="showOptions; else caretDown">&#x025B2;</span>
    <ng-template #caretDown>
      <span>&#x025BC;</span>
    </ng-template>
  </button>
</div>
<app-news-params *ngIf="showOptions"></app-news-params>