
<div *ngIf="newsData" id="response-info">
  <p>url: ...</p>
  <p>status: {{newsData.status}}</p>
  <p>totalResults: {{newsData.totalResults}}</p>
</div>

<div *ngIf="newsData && newsData.status" class="articles__container">
  <a *ngFor='let article of newsData.articles'
    href={{article.url}} target="_blank">
    <div class="articles__card">
      <h3>{{article.title}}</h3>
      <img src={{article.urlToImage}} alt="img"
        class="articles__img">
        <h4>{{article.source.name}} - {{ formatDate(article.publishedAt) }}</h4>
      <p>{{article.description}}</p>
      <p>{{article.author}}</p>
      <!-- <p>{{article.content}}</p>-->
    </div>
  </a>
</div>
