
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC|Alike+Angular|Antic+Slab|Arapey|Buenard|Cambo|Cinzel|Cormorant+Garamond|Crimson+Text|EB+Garamond|Eczar|Forum|Fredericka+the+Great|Gentium+Basic|Gentium+Book+Basic|IM+Fell+DW+Pica|Josefin+Slab|Kreon|Lusitana|Mate+SC|Noto+Serif+JP|Playfair+Display|Rokkitt|Slabo+27px|Special+Elite|Tinos|Vollkorn|Yrsa|Zilla+Slab&display=swap');
/* 
<link href="https://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC|Alike+Angular|Antic+Slab|Arapey|Buenard|Cambo|Cinzel|Cormorant+Garamond|Crimson+Text|EB+Garamond|Eczar|Forum|Fredericka+the+Great|Gentium+Basic|Gentium+Book+Basic|IM+Fell+DW+Pica|Josefin+Slab|Kreon|Lusitana|Mate+SC|Noto+Serif+JP|Playfair+Display|Rokkitt|Slabo+27px|Special+Elite|Tinos|Vollkorn|Yrsa|Zilla+Slab&display=swap" rel="stylesheet">
*/

/* This is the basic config / global styling! */

@import './scss/reset-config';
@import './scss/variables';
@import './scss/mixins';

$main-font: serif;


:root {
  font-size: 20px;
  color: $primary-color;
  background-color: $bg-color;

  /* FONT: gut zu lesen? Ernst zu nehmen? */

  /* special (maybe for headline) */
  /* font-family: 'Special Elite', cursive; */
  /* font-family: 'Josefin Slab', serif; */
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Alegreya SC', serif; */
  /* font-family: 'Mate SC', serif; */

  /* jung, verspielter, vital */
  /* font-family: 'IM Fell DW Pica', serif; */
  /* font-family: 'EB Garamond', serif; */
  /* font-family: 'Kreon', serif; */
  /* font-family: 'Alegreya', serif; */
  /* font-family: 'Rokkitt', serif; */
  /* font-family: 'Vollkorn', serif; */
  /* font-family: 'Eczar', serif; */

  /* Zwischending */
  /*!!*//* font-family: 'Lusitana', serif; */
  /*!!*/font-family: 'Buenard', serif;
  /*!!*//* font-family: 'Yrsa', serif; */
  /*!!*//* font-family: 'Arapey', serif; */
  /*!!*//* font-family: 'Crimson Text', serif; */
  /*!!*//* font-family: 'Gentium Basic', serif; */
  /*!*//* font-family: 'Antic Slab', serif; */
  /*!*//* font-family: 'Gentium Book Basic', serif; */
  /* font-family: 'Alike Angular', serif; */
  /* font-family: 'Zilla Slab', serif; */
  /* font-family: 'Cambo', serif; */

  /* eher seriös, elegant, edel, erwachsen, stilvoll */
  /* font-family: 'Tinos', serif; */
  /* font-family: 'Forum', cursive; */
  /* font-family: 'Cormorant Garamond', serif; */

  
}
html {
  scroll-behavior: smooth;
  min-height: 100%;
}
body {
  @include hyphens(); /* not working in Chrome */
  min-width: 320px;
  height: 100%;
}
app-root {
  @include flex(column, center, center);
  height: 100%;

  .push-footer-to-bottom {
    flex: 1 0 auto;
  }
}

/* ========= */
/* Debugging */
/* ========= */
/* Development info. Delete after deployment. */

#response-info {
  font-size: 0.8rem;
  margin: 0.5rem;
  padding: 1rem;
  color: red;
  border: 1px dashed red;
}


/* =========== */
/* responsive: */
/* =========== */

@media only screen and (max-width: 320px) {
}


/*===========*/
/* Animation */
/*===========*/

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}