/* You can add global styles to this file, and also import other style files */

:root {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;

  /* Variables */

}

@media only screen and (max-width: 320px) {

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*===========*/
/* Animation */
/*===========*/

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}