/* You can add global styles to this file, and also import other style files */

@import './scss/basic-config';
@import './scss/variables';
@import './scss/mixins';

:root {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: $primary-color;
  background-color: $bg-color;
}
body {
  @include hyphens(); /* not working */
}

#response-info {
  font-size: 0.8rem;
  margin: 0.5rem;
  padding: 1rem;
  color: red;
  border: 1px dashed red;
}

/* responsive: */
@media only screen and (max-width: 320px) {
}

/*===========*/
/* Animation */
/*===========*/

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}