
/* Fonts: */
@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+SC|Alike+Angular|Antic+Slab|Arapey|Buenard|Cambo|Cinzel|Cormorant+Garamond|Crimson+Text|EB+Garamond|Eczar|Forum|Fredericka+the+Great|Gentium+Basic|Gentium+Book+Basic|IM+Fell+DW+Pica|Josefin+Slab|Kreon|Lusitana|Mate+SC|Noto+Serif+JP|Playfair+Display|Rokkitt|Slabo+27px|Special+Elite|Tinos|Vollkorn|Yrsa|Zilla+Slab&display=swap');

$main-font: 'Gentium Basic', serif;

// Fav. / nur für head:
/* font-family: 'Special Elite', cursive; */
/* font-family: 'Fredericka the Great', cursive; */
/* font-family: 'IM Fell DW Pica', serif; */

//  Favorites> 
// font-family: 'Buenard', serif;
// font-family: 'Alegreya', serif;
/* font-family: 'EB Garamond', serif; */

/* font-family: 'Tinos', serif; */


/* special (maybe for headline) */
/* font-family: 'Josefin Slab', serif; */ // eher weg
/* font-family: 'Alegreya SC', serif; */ // eher weg
/* font-family: 'Mate SC', serif; */    // eher weg

/* jung, verspielter, vital */

/* font-family: 'Rokkitt', serif; */
/* font-family: 'Kreon', serif; */
/* font-family: 'Vollkorn', serif; */
/* font-family: 'Eczar', serif; */

/* Zwischending */
/* font-family: 'Crimson Text', serif; */
/* font-family: 'Lusitana', serif; */
/* font-family: 'Gentium Book Basic', serif; */
/* font-family: 'Zilla Slab', serif; */
/* font-family: 'Cambo', serif; */
/* font-family: 'Alike Angular', serif; */
/* font-family: 'Yrsa', serif; */
/* font-family: 'Arapey', serif; */
/* font-family: 'Antic Slab', serif; */

/* eher seriös, elegant, edel, erwachsen, stilvoll */
/* font-family: 'Forum', cursive; */
/* font-family: 'Cormorant Garamond', serif; */

/* Colors: */

$primary-color: #121212;
$bg-color: #faf8fe;

$medium: #888;
$light: #ccc;

/*  Transitions: */
$trans-time-fast: 0.2s;
$trans-time-medium: 0.4s;
$trans-time-slow: 1s;


/* Spacing and sizes: */

$minimum-screen-size: 320px;

$max-cards-per-row: 5;
$min-card-spacing-sides: 5px;
$card-spacing-below: 5px;
$cards-border-width: 2px;
$max-card-width: (1920px - ($max-cards-per-row + 1) *
  $min-card-spacing-sides) / ($max-cards-per-row) -
  2 * $max-cards-per-row;